.button {
  border: 0;
  border-radius: 0;
  transition: background-color 0.2s;
  padding: 10px 20px;
}

.button--primary {
  background-color: rgba(238, 43, 238, 0.9);
  color: #ffffff;
}

.button--primary:hover {
  background-color: rgb(238, 43, 238);
}

.button--primary:focus,
.button--primary:active {
  box-shadow: 0 0 0 3px rgba(238, 43, 238, 0.3);
}

.button--danger {
  background-color: rgb(241, 60, 60, 0.9);
  color: #ffffff;
}

.button--danger:hover {
  background-color: rgb(241, 60, 60);
}

.button--danger:focus,
.button--danger:active {
  box-shadow: 0 0 0 3px rgba(241, 60, 60, 0.3);
}
